<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Example node js</title>
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>
	<div id="page" class="container">
		<div id="header">
			<div id="logo">
				<img src="images/sonasa.jpg" alt="" />
				<h1><a href="#">Sonasa Rinusantoro</a></h1>
				<span>Programmer & Administrator,</span>			
			</div>
			<div id="menu">
				<ul>
					<li><a href="/" accesskey="1" title="">Homepage</a></li>
					<li class="current_page_item"><a href="/career" accesskey="2" title="">career</a></li>
					<li><a href="/photo" accesskey="3" title="">photo</a></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<div class="title">
				<h2>Education and experience</h2>
				<span class="byline">Career Breakthrough</span>
			</div>
			<div id="featured">
				<ul class="style1">
					<li class="first">
						<p class="date"><a href="#"><b>2005</b></a></p>
						<h3>Senior High School SMA N 4 Yogyakarta</h3>
						<p>Science Major.</p>
					</li>
					<li>
						<p class="date"><a href="#"><b>2011</b></a></p>
						<h3>Bachelor Gadjah Mada University</h3>
						<p>Faculty of Mathematics and Science majoring in computer science.</p>
					</li>
					<li>
						<p class="date"><a href="#"><b>2015</b></a></p>
						<h3>Master Gadjah Mada University</h3>
						<p>Graduate school cultural studies and media studies courses in information management and libraries.</p>
					</li>
					<li>
						<p class="date"><a href="#"><b>2015</b></a></p>
						<h3>Tutor/ICT Open University Indonesia</h3>
						<p>Information Systems study program and Information and Communication Technology Technical Implementation Unit.</p>
					</li>
					<li>
						<p class="date"><a href="#"><b>2018</b></a></p>
						<h3>Lecturers Pamulang University</h3>
						<p>Faculty of Engineering Informatics Engineering Study Program.</p>
					</li>
					<li>
						<p class="date"><a href="#"><b>2019</b></a></p>
						<h3>Lecturers Indonesia University</h3>
						<p>Vocational school for financial and banking administration.</p>
					</li>
				</ul>
			</div>
			<div id="copyright">
				<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
			</div>
		</div>
	</div>
</body>

</html>