<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Example node js</title>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
			<img src="images/sonasa.jpg" alt="" />
			<h1><a href="#">Sonasa Rinusantoro</a></h1>
			<span>Programmer & Administrator,</span>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/" accesskey="1" title="">Homepage</a></li>
				<li><a href="/career" accesskey="2" title="">career</a></li>
				<li><a href="/photo" accesskey="3" title="">photo</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="welcome">
			<div class="title">
				<h2>Hi, I'm Rinu</h2>
				<span class="byline">Programmer, Network Adminstrator, Trainner and Lectures</span>
			</div>
			<p align="justify">My name is Rinusantoro. I am a graduate from Gadjah Mada University. Having the professional and academic experience in computer and software engineering, the field of programming and development industry has been familiar to mine. I can use the ubuntu linux operating system, centos, and windows. I understand the programming languages php, html, go, python. I can use the mysql database, mariadb. I can use Drupal Framework, Laravel. i can use git. My hobbies are reading books and playing games. I hope we can work as a great team here. Thank you.
			</p>
		</div>
		
		<div id="copyright">
			<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
		</div>
	</div>
</div>
</body>
</html>